MONGO_URI=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
CLERK_SECRET_KEY=
JWT_ACCESS_SECRET=
CLIENT_URL=
NODE_ENV=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# KloudShip shipping API
KLOUDSHIP_BASE_URL=
KLOUDSHIP_API_KEY=
KLOUDSHIP_API_SECRET=
KLOUDSHIP_USERNAME=
KLOUDSHIP_PASSWORD=
KLOUDSHIP_PICKUP_LOCATION_ID=
